*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	background-color: black;
}
body{

}
.box{
	height:30px; 
	width:100%;
	background-color: black;
}
nav{
	position: fixed;
	display: flex;
	align-items: center;
	width: 90%;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8%;
	padding-right: 8%;
	background-color: black;
	border-bottom: 1px solid green;
	box-shadow: 0 5px 15px green;
	z-index: 100000
}
.logo{
	color: white;
	font-size: 25px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: green;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
	text-transform: capitalize;
}
.home{
	color: white;
	font-weight: bold;
	font-size: 15px;
	text-transform: capitalize;
	box-shadow: 0 20px 50px green;
	background-color: green;
}
.home:hover{
	color: black;
	background-color: white;
}
nav ul li a{
	color: white;
	font-weight: bold;
	font-size: 15px;
	text-transform: capitalize;
	box-shadow: 0 20px 50px green;

}
nav ul li a:hover{
	color: gray;
	border-bottom: 0.5px solid white;
	transition: 0.5s;
}
img{
	height: 500px;
	width: 700px;
	position: relative;
	margin-left: 100px;
	transform: translate(20%);
}

.content{
	position: absolute;
	top: 30%;
	left: 20%;
	transform: translate(-50%);
	text-transform: capitalize;
}
.typing{
 	overflow: hidden;
 	animation: typing 2s infinite alternate;
 	white-space: nowrap;
 }
 @keyframes typing{
 	to{
 	width:0;
 	}
 	from{
 		width: 100%;
 	}
 }
 h4{
	color: green;
	letter-spacing: 2px;
}
h1{
	color: white;
	font-size: 40px;
	margin: 20px 0 20px;
}
h3{
	color: white;
	margin-bottom: 50px;
}
span{
	color: green;
}
.content2 h3{
	position: relative;
	margin-left: 75%;
}
.content a{
	font-weight: bold;
	font-size: 15px;
	background: green;
	color: white;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 30px;
	border: 1px solid white;

}
.content a:hover{
	background: white;
	color: green;
	border: 1px solid green;
	transition: 0.5s;
}
.about{
	margin-top: 100px;
	position: relative;

} 
.about-me{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-right: 400px;

} 
.about-me img{
	height: auto;
	width: 250px;
	border: 1px solid green;
	border-bottom: 5px solid green;
	border-radius: 30px;
	border-top: none;
	box-shadow: 0 20px 50px green;
}
.about-text{
	margin-left: 100px;
}
.about-text h2{
	color: white;
	font-size: 50px;
	border-bottom: 1px solid green; 
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 25px;
	margin-bottom: 25px;
	padding: 3px;
}
.about-text{
	color: white;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.about-text a{
	color: white;
}
.button{
	background-color: green;
	font-weight: bold;
	color: white;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 30px;
	border:1px solid white;
	margin-top:50px;
}
.button:hover{
	background-color: white;
	color: green;
	border:1px solid green;
	cursor: pointer;
	transition: 0.5s;
}
.title h2{
  position: relative;
  margin-left: 100px;
  color: white;
  font-size: 50px;
  width: 100%;
  margin-bottom: 30px auto;
  align-items: center;
  margin-top: 200px;
}
.container{
	margin-top: 100px;
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
} .card{
    position: relative;
    cursor: pointer;
    margin-left: 110px;
}
.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.container .card .face.face1{
    position: relative;
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 30px;
    border: 2px solid white;
}
.container .card:hover .face.face1{
    background: green;
    transform: translateY(0);
}
.container .card .face.face1 .content1{
    opacity: 0.2;
    transition: 0.5s;
}
.container .card:hover .face.face1 .content1{
     opacity: 1;
}
.container .card .face.face1 .content1 img{
    max-width: 100px;
    height: 100px;
    margin-right: 120px;
    position: relative;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}
.container .card .face.face1 .content1 h3{
     margin: 10px 0 0;
     padding: 0;
     color: green;
     text-align: center;
     font-size: 1.5em;
}
.container .card .face.face2{
    position: relative;
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px green;
    transform: translateY(-100px);
    border-radius: 30px;
     border: 2px solid white;
}
.container .card:hover .face.face2{
    transform: translateY(0);
}
.container .card .face.face2 .content1 p{
    margin: 0;
    padding: 0;
    color: white;
}
.container .card .face.face2 .content1 a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: bold;
    background-color: green;
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 30px;
}
.container .card .face.face2 .content1 a:hover{
     background: transparent;
     color: green;
     border:1px solid green;
     transition: 0.5s;
}
.diagram{
	display: flex;
}
.diagram1{
	margin-top: 50px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.con1{
	width: 80px;
	height: 250px;
	background-color: green;
	border-radius: 10px;
	margin-left: 200px;
	box-shadow: 0 10px 30px green;
}
.con11{
	width: 79px;
	height: 90px;
	border: 1px solid white;
	background-color: white;
}
.diagram2{
	margin-top: 50px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 300px;
}
.con2{
	width: 80px;
	height: 250px;
	background-color: green;
	border-radius: 10px;
	box-shadow: 0 10px 30px green;
}
.con22{
	width: 78px;
	height: 70px;
	border: 1px solid white;
	background-color: white;
}
.diagram3{
	margin-top: 50px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin-left: 310px;
}
.con3{
	width: 80px;
	height: 250px;
	background-color: green;
	border-radius: 10px;
	box-shadow: 0 10px 30px green;
}
.con33{
	height: 125px;
	width: 80px;
	background-color: white;
}
.hobby{
	margin-top: 100px;
	position: relative;
}
.hobby-text{
	margin-left: 100px;
}
.hobby-text h2{
	color: white;
	font-size: 50px; 
}
.hobby-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	padding: 3px;
	margin-top: 15px;
}
.hobby-text{
	color: white;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.contact-me{
  width: 100%;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  position: relative;
}
.contact-text h2{
  color: white;
  font: 65px;
  font-size: 55px;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: center;
  margin-right: 120px;
}
</style>
.contact-box{
  color: white;
}
.contact-box:after{
  content: '';
  display: block;
  clear: both;
}
.contact{
  width: 25%;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
  float: left;
  position: relative;
}
.contact h4{
  color: green;
  padding-bottom: 10px;
  font-size: 30px;
  padding: 20px;
  grid-gap: 100px;
}
.contact p{
  font-size: 20px;
  color: white;
  align-items: center;
}
footer{
  position: relative;
  width: 100%;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
}
.sosmed{
	position: relative;
	display: flex;
	margin-left: -100px;
}
footer p:nth-child(1){
  font-size: 25px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2){
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.sosial{
  display: flex;
}
.sosial img{
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center ;
  justify-content: center;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  margin-top: -10px;
  background-color: black;
  box-shadow: 0 10px 30px green;
}
.sosial img:hover{
  transform: scale(1.3);
  transition: 0.5s;
  background: transparent;
}